In [21]:
import pandas as pd
import os

In [22]:
#housing DF
housing_df_2c = pd.read_excel('Data\Copy of hou01tables2021.xlsx', sheet_name=['2c'])['2c']
housing_df_2c = housing_df_2c.replace('c', 0)

In [23]:
housing_df_3c = pd.read_excel('Data\Copy of hou01tables2021.xlsx', sheet_name=['2c'])['2c']
housing_df_3c = housing_df_2c.replace('c', 0)

In [24]:
housing_df_2c['Proportion of indep']=(housing_df_2c['Detached whole house or bungalow']+housing_df_2c['Semi-detached whole house or bungalow']+housing_df_2c['Terraced (including end-terrace) whole house or bungalow'])/housing_df_2c['Flat, maisonette or apartment']
#adding col for ratio
housing_df_2c=housing_df_2c.rename(columns={'Area Code': 'LSOA code'})
housing_df_2c.head()

,LSOA code,Area Name,Detached whole house or bungalow,Semi-detached whole house or bungalow,Terraced (including end-terrace) whole house or bungalow,"Flat, maisonette or apartment",A caravan or other mobile or temporary structure,Proportion of indep
0,E01000001,City of London 001A,0,0,15,1060,0,0.014151
1,E01000002,City of London 001B,0,0,30,1145,0,0.026201
2,E01000003,City of London 001C,0,0,0,1280,0,0.000000
3,E01000005,City of London 001E,0,0,0,615,0,0.000000
4,E01000006,Barking and Dagenham 016A,35,90,300,155,0,2.741935

In [25]:
housing_df_3c = pd.read_excel('Data\Copy of hou01tables2021.xlsx', sheet_name=['3c'])['3c']
housing_df_3c = housing_df_3c.replace('c', 0)
housing_df_3c=housing_df_3c.rename(columns={'Area Code': 'LSOA code'})
housing_df_3c['Proportion social']=housing_df_3c['Social Rented']/(housing_df_3c['Social Rented']+housing_df_3c['Private Rented or lives rent free']+housing_df_3c['Owned or shared ownership'])
housing_df_3c['Proportion rented']=(housing_df_3c['Social Rented']+housing_df_3c['Private Rented or lives rent free'])/(housing_df_3c['Social Rented']+housing_df_3c['Private Rented or lives rent free']+housing_df_3c['Owned or shared ownership'])
housing_df_3c

,LSOA code,Area Name,Owned or shared ownership,Private Rented or lives rent free,Social Rented,Proportion social,Proportion rented
0,E01000001,City of London 001A,485,330,20,0.023952,0.419162
1,E01000002,City of London 001B,435,365,25,0.030303,0.472727
2,E01000003,City of London 001C,380,335,300,0.295567,0.625616
3,E01000005,City of London 001E,40,105,335,0.697917,0.916667
4,E01000006,Barking and Dagenham 016A,275,255,25,0.045045,0.504505
...,...,...,...,...,...,...,...
35667,W01002036,Vale of Glamorgan 005G,455,205,110,0.142857,0.409091
35668,W01002037,Vale of Glamorgan 005H,340,185,40,0.070796,0.398230
35669,W01002038,Vale of Glamorgan 014G,410,90,80,0.137931,0.293103
35670,W01002039,Vale of Glamorgan 014H,535,55,80,0.119403,0.201493
35671,W01002040,Vale of Glamorgan 015F,650,135,120,0.132597,0.281768

In [26]:
housing_df_4c = pd.read_excel('Data\Copy of hou01tables2021.xlsx', sheet_name=['4c'])['4c']
housing_df_4c = housing_df_4c.replace('c', 0)
housing_df_4c=housing_df_4c.rename(columns={'Area Code': 'LSOA code'})
housing_df_4c

,LSOA code,Area Name,Tenure,Detached whole house or bungalow,Semi-detached whole house or bungalow,Terraced (including end-terrace) whole house or bungalow,"Flat, maisonette or apartment",A caravan or other mobile or temporary structure
0,E01000001,City of London 001A,Owned or shared ownership,0,0,0,475,0
1,E01000001,City of London 001A,Social Rented,0,0,0,20,0
2,E01000001,City of London 001A,Private Rented or lives rent free,0,0,0,325,0
3,E01000002,City of London 001B,Owned or shared ownership,0,0,20,410,0
4,E01000002,City of London 001B,Social Rented,0,0,0,25,0
...,...,...,...,...,...,...,...,...
107011,W01002039,Vale of Glamorgan 014H,Social Rented,0,35,25,20,0
107012,W01002039,Vale of Glamorgan 014H,Private Rented or lives rent free,35,15,0,0,0
107013,W01002040,Vale of Glamorgan 015F,Owned or shared ownership,45,160,350,90,0
107014,W01002040,Vale of Glamorgan 015F,Social Rented,0,20,40,55,0
107015,W01002040,Vale of Glamorgan 015F,Private Rented or lives rent free,0,20,55,55,0

In [27]:
housing_df_7c = pd.read_excel('Data\Copy of hou01tables2021.xlsx', sheet_name=['7c'])['7c']
housing_df_7c = housing_df_7c.replace('c', 0)
housing_df_7c=housing_df_7c.rename(columns={'Area Code': 'LSOA code'})
housing_df_7c['Proportion small house']=(housing_df_7c['1 bedroom']+housing_df_7c['2 bedrooms'])/(housing_df_7c['1 bedroom']+housing_df_7c['2 bedrooms']+housing_df_7c['3 bedrooms']+housing_df_7c['4 or more bedrooms'])
housing_df_7c

,LSOA code,Area Name,1 bedroom,2 bedrooms,3 bedrooms,4 or more bedrooms,Missing,Proportion small house
0,E01000001,City of London 001A,375,280,140,45,0,0.779762
1,E01000002,City of London 001B,405,265,100,50,0,0.817073
2,E01000003,City of London 001C,650,300,60,0,0,0.940594
3,E01000005,City of London 001E,240,135,95,0,0,0.797872
4,E01000006,Barking and Dagenham 016A,95,70,255,130,0,0.300000
...,...,...,...,...,...,...,...,...
35667,W01002036,Vale of Glamorgan 005G,95,370,200,105,0,0.603896
35668,W01002037,Vale of Glamorgan 005H,105,215,155,90,0,0.566372
35669,W01002038,Vale of Glamorgan 014G,30,210,230,110,0,0.413793
35670,W01002039,Vale of Glamorgan 014H,20,85,150,410,0,0.157895
35671,W01002040,Vale of Glamorgan 015F,80,375,295,150,0,0.505556

In [41]:
merged_df_temp = pd.merge(housing_df_3c, housing_df_2c, on=['LSOA code', 'Area Name'], how='outer')
merged_df = pd.merge(merged_df_temp, housing_df_7c, on=['LSOA code', 'Area Name'], how='outer')
merged_df=merged_df.rename({"Area Name":"LSOA name"}, axis=1)
merged_df

,LSOA code,LSOA name,Owned or shared ownership,Private Rented or lives rent free,Social Rented,Proportion social,Proportion rented,Detached whole house or bungalow,Semi-detached whole house or bungalow,Terraced (including end-terrace) whole house or bungalow,"Flat, maisonette or apartment",A caravan or other mobile or temporary structure,Proportion of indep,1 bedroom,2 bedrooms,3 bedrooms,4 or more bedrooms,Missing,Proportion small house
0,E01000001,City of London 001A,485,330,20,0.023952,0.419162,0,0,15,1060,0,0.014151,375,280,140,45,0,0.779762
1,E01000002,City of London 001B,435,365,25,0.030303,0.472727,0,0,30,1145,0,0.026201,405,265,100,50,0,0.817073
2,E01000003,City of London 001C,380,335,300,0.295567,0.625616,0,0,0,1280,0,0.000000,650,300,60,0,0,0.940594
3,E01000005,City of London 001E,40,105,335,0.697917,0.916667,0,0,0,615,0,0.000000,240,135,95,0,0,0.797872
4,E01000006,Barking and Dagenham 016A,275,255,25,0.045045,0.504505,35,90,300,155,0,2.741935,95,70,255,130,0,0.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35667,W01002036,Vale of Glamorgan 005G,455,205,110,0.142857,0.409091,25,55,300,455,0,0.835165,95,370,200,105,0,0.603896
35668,W01002037,Vale of Glamorgan 005H,340,185,40,0.070796,0.398230,0,55,345,215,10,1.860465,105,215,155,90,0,0.566372
35669,W01002038,Vale of Glamorgan 014G,410,90,80,0.137931,0.293103,120,210,130,145,0,3.172414,30,210,230,110,0,0.413793
35670,W01002039,Vale of Glamorgan 014H,535,55,80,0.119403,0.201493,455,115,90,25,0,26.400000,20,85,150,410,0,0.157895
35671,W01002040,Vale of Glamorgan 015F,650,135,120,0.132597,0.281768,50,205,460,235,0,3.042553,80,375,295,150,0,0.505556

In [42]:
merged_df.to_excel('Data/housing_combined.xlsx', index=False)